body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
}

/*ENTERCODE*/
#circle-4 {
  -webkit-clip-path: circle(40.4% at 50% 50%);
  clip-path: circle(40.4% at 50% 50%);
  background-color: #d5c9ff;
  opacity: 0.15;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 640px;
  top: 420px;
  z-index: -1;
  animation: myOrbit 22s infinite linear;
}
#circle-3 {
  -webkit-clip-path: circle(40.4% at 50% 50%);
  clip-path: circle(40.4% at 50% 50%);
  background-color: #685ed6;
  opacity: 0.15;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 640px;
  top: 5px;
  z-index: -1;
  animation: myOrbit 22s infinite linear;
}

#circle-2 {
  -webkit-clip-path: circle(40.4% at 50% 50%);
  clip-path: circle(40.4% at 50% 50%);
  background-color: #685ed6;
  opacity: 0.15;
  width: 220px;
  height: 220px;
  top: 260px;
  position: absolute;
  z-index: -1;
  animation: myOrbit 29s infinite linear;
}
#circle-1 {
  -webkit-clip-path: circle(40.4% at 50% 50%);
  clip-path: circle(40.4% at 50% 50%);
  background-color: #ccffe3;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  animation: litleOrbit 20s infinite linear;
}
.enter-code {
  margin-top: 8%;
}
#welcome {
  color: #685ed6;
  font-weight: bold;
  display: inline;
  font-size: 25px;
  margin-right: 10px;
}
#FEEDBACK {
  color: #363993;
  font-size: 75px;
}
.enter-code p {
  color: #353531;
}
#code-form {
  margin-top: 100px;
  animation: scale 2s ease-in-out;
  animation-direction: alternate;
}

#code-form button {
  margin: 0 0 2px 20px;
  height: 60px;
  width: 80px;
  vertical-align: middle;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
#FEEDBACK:hover {
  animation: hvr-pulse 2.5s ease-in-out;
}
#code-form input {
  padding: 15px;
  width: 40%;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
/*LANDINGCONTAINER*/
#landing-container {
  height: 80vh;
  text-align: center;
}

/*LANDING2*/
#how-it-works {
  height: 15vh;
}
#landing-2-container {
  background-color: white;
  height: 15vh;
  text-align: center;
}
#carousel-content {
  color: #685ed6;
}
/*NAVBAR */
nav {
  background-color: white;
  border-bottom: 0.5px solid #efefef;
}
#nav-loggedIn {
  color: #685ed6;
  border-bottom: 0.5px solid #685ed6;
}
nav a {
  margin-left: 5%;
  font-size: 20px;
}
#nav-a-loggedin {
  margin-left: 13%;
  font-size: 20px;
}
#navbarNav {
  margin-left: 80%;
  font-size: 20px;
}
#loggedin-nav-link {
  width: 300px;
  font-size: 20px;
  color: #685ed6;
}
#navbar-search {
  margin-left: 35%;
}
#dropdown-content {
  width: 300px;
}
#dropdown-nav a {
  color: #685ed6;
}
#mobile-nav {
  display: none;
}
#mobile-nav a {
  color: #685ed6;
}
#navbar-btn {
  border: 1px solid #685ed6;
  color: #685ed6;
}
#navbar-btn:hover {
  background-color: #d5c9ff;
}
/* Animations */
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(18px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(18px) rotate(-360deg);
  }
}
@keyframes litleOrbit {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(360deg);
  }
}
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (max-width: 880px) {
  #dropdown-nav {
    display: none;
  }
  #mobile-nav {
    display: inline;
  }
  #navbar-search {
    margin-left: 0;
    width: 100%;
  }
  #carousel-content h3 {
    font-size: 20px;
  }
  #circle-3,
  #circle-4,
  #circle-2,
  #circle-1 {
    display: none;
  }
  #FEEDBACK {
    font-size: 60px;
  }
  #carousel-content {
    padding: 0 20px 20px 20px;
  }
  #code-form input {
    width: 50%;
  }
  #landing-container {
    text-align: center;
  }
  #navbarNav {
    margin-left: 0;
  }
  #nav-a-loggedin {
    margin-left: 0;
  }
  #navbarNav-loggedin {
    margin-left: 0;
  }
  nav a {
    margin-left: 0;
  }
  #how-it-works h1 {
    font-size: 35px;
  }
}
/*
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
*/
