/* COURSE Form */
.create-course-form input {
  margin-top: 20px;
}
/* LECTURE Form */
#create-lecture-btn {
  border-radius: 20px;
}
#create-lecture-btn:hover {
  background-color: white;
  color: black;
}
#create-lecture-a {
  background-color: #00359f;
  color: white;
  border-radius: 0;
  padding: 2px 10px;
  font-size: 13px;
}
#create-lecture-a:hover {
  background-color: #4580ff;
}
/* Lectures */
.create-lecture-container {
  margin-top: 8px;
}
.create-lecture-container button {
  border-radius: 0;
}
.lecture-list {
  overflow-y: scroll;
  height: 200px;
}
.lecture-container {
  margin-top: 10px;
}
#lecture-card {
  background-color: white;
  padding: 10px 20px 20px 40px;
  border-radius: 10px;
  border-bottom: 0.25px solid #b5b5b5;
  margin-bottom: 30px;
}

#lecture-card:hover {
  cursor: pointer;
  box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.2);
}
#lecture-card h5 {
  color: #0050ef;
  display: inline;
}
.lecture-card-content a {
  font-size: 12px;
  color: #00359f;
}
#live-status {
  margin: 10px 0 0 0;
  font-size: 12px;
}
#see-lecture {
}
#lecture-form-status {
  margin-left: 25px;
}
.lecture-card-content p {
  font-size: 14px;
}
.lecture-card-content {
  margin-left: 18px;
}
::-webkit-scrollbar {
  width: 1.5px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #8cb3ff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0050ef;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00359f;
}
/* Courses */
#feed-column {
  overflow-y: scroll;
  height: 85vh;
  padding-left: 15px;
}
.dashboard-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
#left-col {
  height: 700px;
  overflow-y: auto;
}
.courses-container {
  float: right;
  width: 200px;
}

#course-list-title {
  color: #00359f;
}
#course-card {
  width: 185px;
  border: 0;
  border-radius: 0;
}
#course-card-body {
  border-top: 1px solid #e2e2e2;
}
#course-card h5 {
  color: #0050ef;
  font-size: 15px;
}
#course-card h6 {
  color: ##0050ef;
}
#course-card small {
  color: #988dfc;
  font-size: 12px;
}
#course-card:hover {
  transform: scale(1.1);
  z-index: 5;
  box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#course-list-container {
  margin-top: 10px;
}
#make-new-course {
  color: #685ed6;
  padding: 10px;
}
#course-card-loading {
  height: 150px;
  width: 145px;
}
#card-loading-gif {
  margin-left: 40%;
  width: 50px;
  height: 50px;
}
@media (max-width: 780px) {
  .courses-container {
    float: none;
    margin-left: 50px;
  }
}
