.lecture-question {
  margin-top: 20px;
}
.lecture-question input {
}
#question-type {
  margin-top: 10px;
}
#question-type button {
  font-size: 14px;
}
#question-remove {
  float: right;
  display: inline;
}
#question-remove:hover {
  cursor: pointer;
}
#delete-button {
  border-radius: 0;
  background-color: #a3a3a3;
}
#delete-button:hover {
  background-color: #d63939;
}
.lecture-form {
  background-color: white;
  margin-top: 5%;
  border: 0.75px solid #e5e5e5;
  border-radius: 10px;
  padding: 20px;
}
.lecture-form button {
  border-radius: 0;
}
.lecture-form a {
  border-radius: 20px;
  background-color: #00359f;
  color: white;
  margin-top: 20px;
  font-size: 14px;
}
.lecture-form a:hover {
  background-color: #4580ff;
  color: white;
}
.lecture-form h4 {
  color: #00359f;
}
.lecture-form h5 {
  font-size: 12px;
}
#update-date {
  font-size: 14px;
}
#suggestion-a {
  margin-left: 10px;
  margin-top: 5px;
  background-color: #f4f4f4;
  border-radius: 15px;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 4px;
}
#suggestion-a:hover {
  text-decoration: none;
  background-color: #606060;
  color: white;
}
#similiar-questions {
  font-size: 12px;
  background-color: white;
  color: blue;
}
