.lecture-header {
  margin-top: 20px;
}
.lecture-header a {
  border-radius: 0;
}
.lecture-header h1 {
  color: #00359f;
  display: inline;
}
.lecture-data {
  margin-top: 20px;
}
.lecture-data p {
  margin-top: 50px;
}
.lecture-data h4 {
  color: #0050ef;
}
#formBtn {
  margin-top: 12px;
  float: right;
  border-radius: 20px;
}
#formBtn:hover {
  background-color: white;
  color: black;
}
#liveBtn {
  margin-top: 12px;
  float: right;
  margin-right: 20px;
  display: inline-block;
  background-color: #4580ff;
  color: white;
  border-radius: 20px;
}
#confirmCancel {
  margin-top: 12px;
  float: right;
  margin-right: 20px;
  display: inline-block;
  border-radius: 20px;
}
#liveBtn:hover {
  background-color: white;
  border: 1px solid #00359f;
  color: #00359f;
}
#lecture-code {
  font-size: 22px;
}
#lecture-settings {
  color: #0050ef;
  margin-left: 70%;
}
.lecture-data-header {
  flex-wrap: nowrap;
  display: flex;
  align-items: baseline;
}
#delete-lecture-btn {
  font-size: 12px;
  padding: 1px 3px;
  margin-top: 10px;
  border-radius: 20px;
}
#cancelDelete {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 20px;
  margin-top: 25px;
}
#lecture-delete-body {
  padding: 8px;
}
/* Charts */
.bar-chart-container:hover {
  transition-duration: 1.5s;
  box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.2);
}
